{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %} Flasky - {{title}}{{ user.username }}{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>{{ title }}{{ user.username}}</h1>
</div>
<table class="table table-hover followers">
    <thead><tr><th>Vacant-Position</th><th>Number</th><th>Time-Posted</th></tr></thead>
    {% for opportunity in opportunities %}
 
    <tr>
        <td>
                {{ opportunity.position_name }}
        </td>
        <td>{{ opportunity.no_of_positions}}</td>
        <td> {{ moment(opportunity.timestamp).format('LLL') }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div class ="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username=user.username) }} 
</div>
{% endblock %}                   

